body {
  background-image: url("./pexels-pixabay-275637.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.App {
  text-align: center;
  max-width: 800px;
  margin: 0 auto;
}

.App h1 {
  color: rgba(255, 255, 255);
}
